@{
    ViewData["title"] = "Novo Produto";
}

    <div id="root"></div>

@section Scripts{
    <script src="~/clientapp/dist/views/painel/produto/novo.js"></script>
    <script src="~/lib/form-loader.js"></script>
    <script src="~/js/Painel/Produto/novo.js"></script>
    
}
