@{
    ViewData["title"] = "Novo Produto";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <form id="form-produto">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault01">Nome</label>
                            <input type="text" class="form-control" id="validationDefault01" name="nome" placeholder="Nome"
                                 required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault02">Preço</label>
                            <input type="number" class="form-control" id="validationDefault02" name="preco" placeholder="Preço"
                                 required>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="validationDefault03">Estoque</label>
                            <input type="number" class="form-control" id="validationDefault03" name="estoque" placeholder="Estoque"
                                required>
                        </div>
                        
                        
                    </div>

                   
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/form-loader.js"></script>
    <script src="~/js/Painel/Produto/Novo.js"></script>
}
