
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="pcoded-navigatio-lavel">Navegação</div>
                        @* <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded-hasmenu">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                    <span class="pcoded-mtext">Dashboard</span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class="">
                                        <a href="index-1.htm">
                                            <span class="pcoded-mtext">Default</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="dashboard-crm.htm">
                                            <span class="pcoded-mtext">CRM</span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="dashboard-analytics.htm">
                                            <span class="pcoded-mtext">Analytics</span>
                                            <span class="pcoded-badge label label-info ">NEW</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul> *@
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded">
                                <a href="/painel/dashboard">
                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                    <span class="pcoded-mtext">Dashboard</span>
                                </a>
                                @* <ul class="pcoded-submenu">
                                    <li class="">
                                        <a href="index-1.htm">
                                            <span class="pcoded-mtext">Default</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="dashboard-crm.htm">
                                            <span class="pcoded-mtext">CRM</span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="dashboard-analytics.htm">
                                            <span class="pcoded-mtext">Analytics</span>
                                            <span class="pcoded-badge label label-info ">NEW</span>
                                        </a>
                                    </li>
                                </ul> *@
                            </li>

                            <div class="pcoded-navigatio-lavel">E-Commerce</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded-hasmenu">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                    <span class="pcoded-mtext">Produtos</span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class="">
                                        <a href="/painel/produto/novo">
                                            <span class="pcoded-mtext">Novo Produto</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/painel/categoria/novo">
                                            <span class="pcoded-mtext">Nova Categoria</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/painel/produto">
                                            <span class="pcoded-mtext">Lista Produtos</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/painel/categoria">
                                            <span class="pcoded-mtext">Lista Categoria</span>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </li>
                        </ul>
                        </ul>
                    </div>
                